<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notify the Fleeple</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" value="yes">
</head>
<body>

    <div class="wrapper">
        <header class="header">
            <h1 class="title">Notify the Fleeple</h1>
        </header>

        <div class="content">
            {% block content %}
                <p>Nothing to see here.</p>
            {% endblock %}
        </div>
    </div>

</body>
</html>
